@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f8fafc;
	--foreground: #020617;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #020617;
		--foreground: #f8fafc;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
